<%= link_to 'Name List', names_path %>
<h1>Saved Name</h1>

<p>
  <strong>Name:</strong>
  <%= @name.name.capitalize %>
</p>

<p>
  <strong>Age:</strong>
  <%= @name.age %>
</p>

<p><%= link_to 'Destroy', name_path(@name),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></p>